html{
    font-family: 'Manrope', sans-serif;
    line-height: 20px;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 95vh;
    background-color: aliceblue;
    flex-wrap: wrap;

}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);

}

#article{
    border-radius: 15px;
    width: 350px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
 
}

#item-pic {
    border-radius: 15px 15px 0px 0px;
    width: 350px;
    height: 220px;
    object-fit: cover;
  }

h4{
    margin: 0 0 0 0;
    line-height: 26px;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    color: hsl(217, 17%, 42%);
    font-size: 18px;
    width: 300px;
}

#desc{
    width: 300px;
    padding-top: 20px;
    margin: 0 0 10px 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    color: hsl(214, 17%, 51%);
    font-size: 13px;
    line-height: 22px;
}

.text-cont{
    width: 350px;
}


.id-container{
    display: flex;
    width: 100%;
    margin-bottom: 25px;

}

#pfp{
    margin-left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 35px 35px 35px 35px;

}

#pfp img {
    width: 50px;
    height: 50px;
    border-radius: 35px;
    object-fit: fill;
}

#name{
    flex-wrap:wrap;
    justify-content: flex-start;
    display: inline-flex;
    width: 130px;
    color: hsl(214, 17%, 51%);
    font-size: 13px;
    margin-top: 5px;
    margin-left: 10px;

    
}

#name #full-name{
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

#share-btn{
    align-items: center;
    display: inline-flex;
    padding:10px;
    width: 40px;
    height: 40px;
    border-radius: 30px 30px 30px 30px;
    border: none;
    margin-right: 25px;
    margin-left: 80px;
    margin-top: 7px;
    cursor:pointer;
    background-color: hsl(0, 0%, 92%);
}




@media (min-width: 950px){

    .flex{
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255);
    
    }

    #article{
        width: 900px;
    }

    #item-pic{
        border-radius: 15px 0px 0px 15px;
        width: 350px;
        height: 350px;
        object-fit: cover;

    }

    h4{
        width: 450px;
        font-size: 22px;
        line-height: 30px;
    }

    .text-cont{
        width: 450px;
        margin-left: 25px;
        
    }

    #desc{
        line-height: 28px;
        width: 450px;
        font-size: 16px;
    }

    #share-btn{
        margin-left: 210px;
        margin-right: 0px;
    }

}